.contact{
    background-color: #DE4E8D;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact .title {
    font-family: 'Sigmar One';
    color: white;
    font-size: 54px;
    text-align: center;
}
.contact .subtitle h4{
    font-family: 'Montserrat';
    color: white;
    font-size: 24px;
    text-align: center;
    width: 800px;
}
input, textarea{
    border-radius: 17px;
    padding: 5px;
    width: 600px;
    border: 0;
    text-indent: 10px;
}
.input-div h5{
    font-family: 'Montserrat';
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.button{
    font-family: 'Sigmar One';
    color: white;
    background-color: #038C3E;
    border-radius: 17px;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}



