.expected-by-age {
    padding-right: 40px;
}

.expected-by-age .text-title{
    font-size: 30px;
    padding-top: 15px;
    font-family: 'Sigmar One';
    color: #0588CB;
    text-align: center;
}

.expected-by-age .text-body{
    font: 17px 'Montserrat', sans-serif !important;
    overflow-y: auto;
}

.references {
    padding-bottom: 20px;
}
.references span {
    font: italic 400 17px 'Montserrat', sans-serif  !important;
}
.references span::before {
    content: '.';
    font-size: 0;
    display: block;
    line-height: 20px;
}