.expected-by-age {
    padding-right: 40px;
}

.expected-by-age .text-title{
    font-size: 30px;
    padding-top: 15px;
    font-family: 'Sigmar One';
    color: #0588CB;
    text-align: center;
}

.expected-by-age .text-body{
    font: 17px 'Montserrat', sans-serif !important;
    overflow-y: auto;
}