.expected-by-age {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white !important;
    margin-right: 40px;
}

.expected-by-age .text-title{
    font-size: 48px;
    margin-top: 5px;
    font-family: 'Sigmar One';
    color: #0588CB;
    text-align: center;
}

.expected-by-age .text-body{
    font: 17px 'Montserrat', sans-serif !important;
    margin-right: 40px;
    overflow-y: auto;
    height: 80%;
}

::-webkit-scrollbar {
    display: none;
}

.references {
    padding-right: 40px;
    padding-bottom: 20px;
}
.references span {
    font: italic 400 17px 'Montserrat', sans-serif  !important;
}
.references span::before {
    content: '.';
    font-size: 0;
    display: block;
    line-height: 20px;
}