.navbar{
    background-color: #F23229;
    height: 12vh;
}
.navbar-nav{
    all:unset;
}
.header-item {
    max-width: 134px;
    margin: auto;
    text-align: center;
    margin-left: 30px;
    display: inline-block;
    color: white;
    text-decoration: none;
}
.header-item:hover{
    font-weight: bolder;
    color: white;
}