@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font: 400 14px 'Montserrat', sans-serif !important;
    background-color: white;
}

p{
    text-indent: 30px;
}

::-webkit-scrollbar {
    display: none;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .desktop-only{
        display: none;
    }
}

sup {
    font-weight: bold;
}

.left-tab-menu {
    margin-top: 10px;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 20%;
    border-right: 1px black solid;
    margin: 20px;
    height: 65vh;
}

@media only screen and (max-width: 1000px) {
    .left-tab-menu {
        border-right: 0;
        margin: 0;
    }
}

.left-tab-menu h1 {
    padding: 20px;
    font: 18px 'Sigmar One', sans-serif !important;
    color: #DE4E8D;
    font-weight: bolder;
    text-align: left;
}

.left-tab-menu .tab-button {
    padding: auto;
    cursor: pointer;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 240px;
    border: 1px solid #F23229;
}

.left-tab-menu .tab-button:not(.active) {
    background-color: white !important;
    color: #797979;
}

.left-tab-menu .tab-button:is(.active) {
    background-color: #F28F05 !important;
    color: white;
    font: 14px 'Sigmar One', sans-serif !important;
}

.references {
    padding-right: 40px;
    padding-bottom: 20px;
}
.references span {
    font: italic 400 17px 'Montserrat', sans-serif  !important;
}
.references span::before {
    content: '.';
    font-size: 0;
    display: block;
    line-height: 20px;
}

.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
}