.about-us{
    overflow-y: auto;
}
.integrant-photo{
    width: 250px;
    height: 250px;
    margin: 20px;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.41);
}
.about-us-text{
    background-color: #F23229;
    margin: 0 auto;
    flex-direction: row;
    padding-bottom: 50px;
}
.about-us .middle-text{
    font: 26px 'Montserrat', sans-serif !important;
    color: white;
    background-color: #F23229;
}
.about-us-integrants{
    background-color: #0588CB;
    padding-bottom: 50px;
}
.about-us-integrants .title{
    font-family: 'Sigmar One';
    padding: 30px 0px 0px 50px;
    color: white;
}
.integrant-name{
    font-family: 'Sigmar One';
    color: white;
}
.integrant-text{
    color: white;
}
.align-left{
    display: flex;
    margin: auto;
    margin-left: 5px;
}
.align-right{
    display: flex;
    margin: auto;
    margin-right: 5px;
}
.integrant-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
}
.column-space{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tooltip{
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.41);
    background-color: #F28F05;
    color: white;
    border-radius: 10px;
    min-width: 200px;
    min-height: 80px;
}

.tooltip-infos{
    margin: 20px;
}
.tooltip-infos div{
    display: flex;
    align-items: center;
}
.tooltip-infos a{
    text-decoration: none;
    color: white;
    margin-left: 3px;
}