.about-child-activities {
    width: 80%;
    margin: auto;
    font-size: 17px;
}

.about-child-activities .text-title {
    font-size: 30px;
    padding-top: 15px;
    font-family: 'Sigmar One';
    color: #DE4E8D;
    text-align: center;
}

.about-child-activities span::before {
    content: '.';
    font-size: 0;
    display: block;
    line-height: 20px;
}